/* Add styles here */

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e7e7e7;
  margin: 0;
  color: #384342;
  list-style-type: none;
}

header {
  color: #384342;
  top: 0;
  z-index: 100;
  position: sticky;
}

#navbar {
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

.mobile-nav-open {
  display: none;
}

.hire-me-nav {
  font-size: 95%;
  padding: 0.2rem 0.9rem;
  cursor: pointer;
  background-color: rgb(246, 246, 246);
  border-radius: 3px;
  border: 1px solid;
}

.hire-me-nav:hover {
  background-color: #e7e7e7;
}

.nav-scroll {
  background-color: rgb(241, 241, 241);
  opacity: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  padding-right: 1rem;
  padding-top: 0.4rem;
  font-size: 95%;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 5px;
  margin-left: rem;
}

nav ul li a {
  color: #384342;
  text-decoration: none;
}

nav ul li a:hover {
  color: #8f9595;
}

.mobile-nav {
  display: none;
}

.hamburger {
  display: none;
}

section {
  margin: 8rem;
}

section h1 {
  margin-top: 0;
  color: #384342;
  font-size: 3rem;
}

section ul {
  list-style: none;
  padding: 0;
}

section ul li {
  margin-bottom: 2rem;
}

section ul li h2 {
  margin-top: 0;
}

.logo img {
  max-width: 50px;
  margin-left: 1rem;
}

.logo img:hover {
  cursor: pointer;
  opacity: 0.8;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#home {
  animation: 1s ease-out 0s 1 slideInLeft;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.home-text {
  font-size: 3.5rem;
  margin-right: 10rem;
}

.home-text button {
  color: #e7e7e7;
  background-color: #3d6d6d;
  padding: 0.5rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  width: 9rem;
}

.home-text p {
  margin-bottom: 0;
}

.obi {
  text-decoration: none;
  color: #478b8b;
}

.obi:hover {
  color: #73afaf;
}

.home-text button:hover {
  background-color: #478b8b;
}

#about {
  display: flex;
  margin-bottom: 10rem;
  padding-top: 5rem;
}

#about h1 {
  font-size: 3rem;
}

#about p {
  font-size: 1rem;
  line-height: 1.5rem;
}

#about button {
  margin-top: 2rem;
  color: #384342;
  background-color: rgb(246, 246, 246);
  padding: 0.5rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: solid 1px #384342;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 10rem;
}

#about button:hover {
  background-color: #e7e7e7;
}

.about-img {
  max-width: 31rem;
  height: auto;
  object-fit: contain;
}

.about-img-mobile {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
  display: none;
}

#projects {
  display: flex;
  line-height: 1.5rem;
  border-radius: 20px;
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding-top: 5rem;
}

#projects h1 {
  font-size: 3rem;
}

.project-container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#projects h2 {
  font-size: 1.5rem;
  color: #384342;
}

#projects p {
  font-size: 1rem;
}

#projects a {
  font-size: 1.3rem;
}

.project-img img {
  max-width: 300px;
  border-radius: 5px;
}

.project-display {
  display: flex;
  margin-right: 3rem;
  gap: 5rem;
}

.tech {
  margin-top: 3rem;
}

.link-buttons .live-demo {
  width: 9rem;
  margin-right: 1rem;
  height: 2rem;
  font-size: 0.9rem;
  background-color: #3d6d6d;
  color: #e7e7e7;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.link-buttons .live-demo:hover {
  background-color: #478b8b;
}

.link-buttons .github {
  width: 9rem;
  height: 2rem;
  font-size: 0.9rem;
  background-color: rgb(246, 246, 246);
  border-radius: 3px;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
}

.link-buttons .github:hover {
  background-color: #e7e7e7;
}

.solid {
  opacity: 0.3;
}

.outro {
  margin-top: 2rem;
  margin-bottom: 10rem;
  line-height: 1.5rem;
  font-family: "Permanent Marker", cursive;
  font-size: 1.6rem;
}

footer {
  background-color: #858585;
  color: rgb(231, 231, 231);
  padding: 1.5rem;
}

footer a {
  text-decoration: none;
}

.contact-link {
  max-width: 1.5rem;
  margin-right: 1rem;
  color: #e7e7e7;
  cursor: pointer;
}

.contact-link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 950px) {
  #navbar {
    display: none;
  }
  .mobile-nav-open {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .mobile-logo {
    max-width: 50px;
    margin-left: 1rem;
    margin-top: 0.68rem;
  }

  .hamburger {
    position: sticky;
    display: block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    opacity: 1;
    outline: none;
    border: none;
  }
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #384342;
    margin: 6px 0px;
    transition: 0.4s;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobile-nav.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #e7e7e7;
    padding-top: 12rem;
    transition: 0.4s;
  }

  .mobile-hire-me-nav {
    border: 1px solid;
    display: block;
    padding: 0.5rem 1.6rem;
    font-weight: bold;
    margin: 0 auto 14px;
    text-align: center;
    width: fit-content;
    color: #384342;
    text-decoration: none;
    font-size: x-large;
    margin-top: 3rem;
  }

  .mobile-nav-link {
    display: block;
    margin: 0 auto 14px;
    text-align: center;
    width: fit-content;
    color: #384342;
    text-decoration: none;
    font-size: x-large;
    margin-top: 3rem;
    /* font-weight: lighter; */
  }
}

@media screen and (max-width: 750px) {
  .show-mobile-logo {
    display: none;
  }

  #home {
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
  }
  .home-text {
    padding: 0;
    font-size: 3rem;
    margin: 0;
  }

  #about {
    display: block;
    margin: 2rem 2rem;
    padding: 0;
  }

  #about button {
    margin-top: 1rem;
  }

  .about-text h1 {
    margin: 0;
  }

  .about-img {
    margin-top: 2rem;
    display: none;
  }

  .about-img-mobile {
    display: block;
    text-align: center;
  }

  #projects {
    display: block;
    margin: 6rem 2rem 4rem 2rem;
  }

  .projects-text h1 {
    margin-bottom: 2rem;
  }

  .projects-text p {
    margin-bottom: 1.5rem;
  }

  .projects-intro {
    margin: 0;
  }

  .project-container {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .project-display img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .project-display {
    display: block;
    margin: 0;
  }

  .link-buttons {
    display: flex;
    justify-content: space-between;
  }

  .link-buttons .live-demo {
    margin-right: 1rem;
    width: 50%;
  }

  .link-buttons .github {
    width: 50%;
    color: #384342;
  }

  .outro {
    margin: 2rem 2rem 5rem 2rem;
    font-size: 1.2rem;
  }
}
